<span class="text-2xl font-bold mb-4">¡Cliente API adicionado satisfactoriamnete!</span>
<mat-dialog-content>
    <span>
        Importante: Este panel contiene el token necesario para que su cliente API pueda conectarse con los servicios de eFirma, 
        preste mucha atención y copie este token en algún lugar seguro.
    </span>
    <pre>
        @if (data.client.token) {
            <span class="w-full">{{ data.client.token }}</span>
        }
    </pre>
    <div class="flex justify-end">
        <button mat-fab extended 
        [cdkCopyToClipboard]="data.client.token"
        (click)="cliqboardClicEvent()">
            Copiar
            <mat-icon>content_copy</mat-icon>
        </button>
    </div>
    
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button color="primary" [disabled]="isDisable" [mat-dialog-close]="true" cdkFocusInitial>Aceptar</button>
</mat-dialog-actions>
