<span class="text-2xl font-bold mb-4">Listado de permisos asignados</span>
<span class="text-lg font-bold mb-4">Rol: <strong>{{ selectedRole.name }}</strong></span>
<mat-dialog-content class="mat-typography">
    <mat-list>
        @for (item of selectedRole.operationTypes; track $index) {
            <mat-list-item>{{ item.text }}</mat-list-item>
            <mat-divider></mat-divider>
        }
    </mat-list>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" mat-dialog-close>Cerrar</button>
</mat-dialog-actions>
  